.controls {
  &__dpad {
    border: 2px solid #ff9722;
    width: 168px;
    height: 168px;
    border-radius: calc(168px / 2);
  }
}

$dpad: '.dpad';
$directions: top, right, bottom, left, center;

$transforms: (
  top: rotate(180deg),
  left: rotate(90deg),
  right: rotate(-90deg)
);

#{$dpad} {
  background-color: #491d00;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    '. top .'
    'left center right'
    '. bottom .';
  align-items: center;
  justify-items: center;

  @each $direction in $directions {
    &__#{$direction} {
      grid-area: $direction;

      @if map-has-key($transforms, $direction) {
        transform: map-get($transforms, $direction);
      }
    }
  }
}

.expandView {
  &__wrapper {
    background: linear-gradient(180deg, #090400, #210f00);
  }
}

.scanLine {
  background: linear-gradient(
    to bottom,
    rgba(254, 138, 44, 0) 0%,
    rgba(254, 138, 44, 0.01) 60%,
    rgba(254, 138, 44, 0.07) 99%,
    rgba(254, 138, 44, 0) 100%
  );
  background-size: 100% 320px;
  background-repeat: no-repeat;

  animation: moveGradient 4s linear infinite;

  @keyframes moveGradient {
    0% {
      background-position: 0 -320px;
    }
    100% {
      background-position: 0 100vh;
    }
  }
}
