// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary: #ff8200;
$secondary: #26a69a;
$accent: #589dff;

$dark: #010101;
$dark-page: #121212;

$positive: #00c853;
$negative: #f05145;
$info: #31ccec;
$warning: #f2c037;

$generic-border-radius: 8px;
$button-border-radius: $generic-border-radius;
// $button-padding: 8px 20px;

$card-padding: 12px !default;
$card-width: 256px + $card-padding !default;

.q-card {
  &.rounded-borders {
    border-radius: $generic-border-radius * 3;
  }

  .q-item {
    &.rounded-borders {
      border-radius: $generic-border-radius * 2;
    }
  }
}

.q-item {
  &.rounded-borders {
    border-radius: $generic-border-radius;
  }
}
