@font-face {
  font-family: 'Born2bSportyV2';
  src:
    local('Born2bSportyV2') format('truetype'),
    url('https://cdn.flipperzero.one/Born2bSportyV2.ttf') format('truetype'),
    url('./fonts/Born2bSportyV2.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'HaxrCorp';
  src:
    local('HaxrCorp 4089') format('truetype'),
    url('https://cdn.flipperzero.one/haxrcorp-4089.ttf') format('truetype'),
    url('./fonts/haxrcorp-4089.ttf') format('truetype');
  font-display: swap;
}

.text-h4 {
  font-weight: 500;
}

.text-pixelated {
  font-family: 'Born2bSportyV2', sans-serif;
  letter-spacing: 0.035em;
}

.text-HaxrCorp {
  font-family: 'HaxrCorp', monospace;
}

.text-mono {
  font-family: monospace;
}
