.installed-card {
  transition-duration: 300ms;

  &--supported {
    &:hover,
    &:focus-visible {
      z-index: 1;
      box-shadow:
        0 1px 11px rgb(0 0 0 / 13%),
        0 3px 6px rgb(0 0 0 / 5%),
        0 3px 6px -2px rgb(0 0 0 / 8%) !important;
    }

    &:focus-visible {
      outline: none;
    }
  }

  &__icon-wrapper {
    width: 60px;
    height: 60px;
    padding: 10px;
    border: 1px solid #dbdbdb;
    border-radius: 10px;
  }

  &__button-wrapper {
    width: 80px;
  }
}
